/CalculatorFace.class
/NoSuchButtonException.class
/PlainCalculatorFace.class
/SetUp.class
/CalcState.class
/Button.class
/ButtonPressed.class
/OnePressed.class
/NumberPressed.class
/ClearButton.class
/Operator.class
/OperatorPressed.class
/PlusOrMinus.class
/DecimalPressed.class
